[submodule "modules/topcoat"]
	path = modules/topcoat
	url = https://github.com/viknash/topcoat.git
[submodule "modules/grande.js"]
	path = modules/grande.js
	url = https://github.com/viknash/grande.js.git
[submodule "modules/jquery"]
	path = modules/jquery
	url = https://github.com/viknash/jquery.git
[submodule "modules/animate.css"]
	path = modules/animate.css
	url = https://github.com/viknash/animate.css.git
[submodule "modules/MathJax"]
	path = modules/MathJax
	url = https://github.com/viknash/MathJax.git
[submodule "texy-backend"]
	path = texy-backend
	url = https://github.com/viknash/texy-backend.git
